[run]
branch = True
source = simple

[report]
omit =
    */tests/*
    */__init__.py
    *__version__.py

exclude_lines =
    pragma: no cover # Coverage ignores class/function/block/line

[paths]
source =
    simple
    */simple