name: All the different actions for SIMPLE

on:
  push:
    branches:
      - '**'

  # If you change this then it will impact several of the actions.
  pull_request:
    branches:
      - staging
      - main

jobs:
  get-version:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.set-version.outputs.version }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Fetch full history
          fetch-tags: true

      - id: set-version
        run: |
          VERSION=$(cat VERSION.txt)
          VERSION="v$VERSION"

          # Create tag if it doesn’t exist
          if [[ "${GITHUB_EVENT_NAME}" == "push" && "${GITHUB_REF}" == "refs/heads/master" ]]; then
            if ! git rev-parse "$VERSION" >/dev/null 2>&1; then
              git config user.name "github-actions"
              git config user.email "github-actions@github.com"
              git tag "$VERSION"
              git push origin "$VERSION"
              echo "Created Tag: $VERSION"
            fi
          fi
          
          # On staging, mark version as pre-release for display purposes
          if [[ "${GITHUB_REF}" == "refs/heads/staging" ]]; then
            VERSION="${VERSION} (pre-release)"
          fi
          
          echo "version=$VERSION" >> $GITHUB_OUTPUT
          echo "Version: $VERSION"

  check-version:
    name: Make sure version for master in unique
    if: github.event_name == 'pull_request' && github.ref == 'master'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Needed to switch branches

      - run: |
          VERSION=$(cat VERSION.txt)
          TAG="v$VERSION"

          if git rev-parse "$TAG" >/dev/null 2>&1; then
            echo "❌ Version $VERSION already exists. Please update VERSION.txt."
            exit 1
          else
            echo "✅ Creating $VERSION tag."
          fi

  run-tests:
    name: Run all the tests.
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      #- run: pip install setuptools_scm[toml]
      - run: pip install ".[test]"
      - run: pytest --cov=simple --cov-branch --cov-report=xml

      - name: Upload results to Codecov
        if: github.event.name != 'pull_request'
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
  docs:
    name: Generate docs
    if: github.event_name == 'push' && (github.ref == 'refs/heads/staging' || github.ref == 'refs/heads/master')
    needs: get-version
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # Copy files
      - run: cp ./notebooks/*ipynb ./docs/examples/
      - run: cp CHANGELOG.md ./docs/changelog.md

      # Replace placeholders
      - name: Update docs with version and data
        run: |
          sed -i "s/__VERSION__/${{ needs.get-version.outputs.version }}/" CHANGELOG.md
          sed -i "s/__DATE__/$(date +%Y-%m-%d)/" CHANGELOG.md
          sed -i "s/__VERSION__/${{ needs.get-version.outputs.version }}/" index.md
          sed -i "s/__DATE__/$(date +%Y-%m-%d)/" index.md

      - uses: actions/setup-python@v5
        with:
          python-version: 3.9

      - run: pip install uv
      - run: uv pip install ".[docs]"

      # For the master branch.
      - run: mkdocs gh-deploy --force --clean --verbose
        if: github.ref == 'refs/heads/master'

      - name: Create GitHub Release
        if: github.ref == 'refs/heads/master'
        uses: softprops/action-gh-release@v2
        with:
          tag_name: "${{ needs.get-version.outputs.version }}"
          name: "${{ needs.get-version.outputs.version }}"
          files: |
            dist/*.whl
            dist/*.tar.gz

      # For the staging branch.
      - run: mkdocs build --strict --site-dir site-pre
        if: github.ref == 'refs/heads/staging'
      - uses: peaceiris/actions-gh-pages@v4
        if: github.ref == 'refs/heads/staging'
        with:
          publish_dir: ./site-pre
          destination_dir: pre
  release:
    name: Publish to PyPi
    if: github.event_name == 'push' && (github.ref == 'refs/heads/staging' || github.ref == 'refs/heads/master')
    needs: get-version
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: 3.9

      - run: rm -rf build dist *.egg-info
      - run: python -m build
      - run: twine upload dist/*
        if: github.ref == 'refs/heads/staging' # Remove once testing is complete
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}


