name: Run test and coverage

on:
  push:
    branches:
      - '**'

  pull_request:
    branches:
      - staging
      - main

jobs:
  test:
    name: Run all the tests.
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - run: pip install .[test]
      - run: pytest --cov --cov-branch --cov-report=xml
      - name: Upload results to Codecov
        if: github.event.name != 'pull_request'
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}